html,body,.includeCont{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.color {
  color: white;
  float: left;
  width: 55px;
  height: 300px;
  text-align: center;
  transition: width 300ms ease-in-out;
  transform-origin: center center;
}

.color:hover{
  width: 100px;
}

.hex{
  position: relative;
  top: 50%;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.next{
  clear: both;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  background-color: rgb(86, 198, 255);
  color: white;
  line-height: 40px;
  cursor: pointer;
}

.next:active {
    background-color: rgb(94, 176, 255);
}

.title{
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 60px;
  overflow: hidden;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.paletteParent{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    background-color: #f1f1f1;
}

.paletteContainer{
  border-radius: 20px;
  max-width: 375px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.paletteContainer.ng-hide-add         { animation:0.3s rotateOut ease; }
.paletteContainer.ng-hide-remove      { animation:0.3s rotateIn ease; }

.preloaderContainer.ng-hide-add         { animation:1s bounceOut ease; }
.paletteParent.ng-hide-remove,.bgrControl.ng-hide-remove { animation:1.5s fadeIn ease-in; }


.whitebg{
  background-color: #f1f1f1;
  color: #28292a;
}

.darkbg{
  background-color: #28292a;
  color: #f1f1f1;
}

.bgrControl{
  border-radius: 25px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

.logo{

  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  width: 40px;
  height: 40px;

}

.logo img{
  width: 40px;
  height: 40px;
  opacity: .9;
}

.invert{
      -webkit-filter: invert(1);
     filter: invert(1);
}

/*Preloader*/
.preloaderContainer{
  width: 100%;
  height: 100%;
}

ul.preloader {
  text-align: center;
  font-size: 0;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -52px;
  padding:0;
}
ul.preloader li {
  display: inline-block;
  width: 20px;
  height: 80px;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  animation: bars 333ms alternate infinite cubic-bezier(0.2, 0, 0.5, 1);
  padding:0;
  margin: 0;
}

.one {
  background: #FFFBB7;
  border-radius: 10px 0 0 10px;
}

.two {
  background: #A6F6AF;
}

.three {
  background: #66B6AB;
}

.four {
  background: #5B7C8D;
}

.five {
  background: #4F2958;
  border-radius: 0 10px 10px 0;
}

li:nth-of-type(1) {
  animation-delay: 111ms;
}

li:nth-of-type(2) {
  animation-delay: 222ms;
}

li:nth-of-type(3) {
  animation-delay: 333ms;
}

li:nth-of-type(4) {
  animation-delay: 444ms;
}

li:nth-of-type(5) {
  animation-delay: 555ms;
}

@keyframes bars {
  to {
    -moz-transform: translateY(24px);
    -ms-transform: translateY(24px);
    -webkit-transform: translateY(24px);
    transform: translateY(24px);
  }
}
