<div class="paletteParent {{backgroundclr}}" ng-show="dataLoaded">
  <div class="paletteContainer unselectable" ng-show="pContainer" ng-click="$event.stopPropagation()">
    <h3 class="title unselectable">{{titles[palette]}}</h3>
    <div class="color palette1" style="background-color:#{{colors[palette][0]}}"></div>
    <div class="color palette2" style="background-color:#{{colors[palette][1]}}"></div>
    <div class="color palette3" style="background-color:#{{colors[palette][2]}}"></div>
    <div class="color palette4" style="background-color:#{{colors[palette][3]}}"></div>
    <div class="color palette5" style="background-color:#{{colors[palette][4]}}"></div>
    <div class="next unselectable" ng-click="nextPalette($event)">Next</div>
  </div>
</div>
<div class="bgControls" ng-show="dataLoaded">
  <div class="bgrControl {{buttonclr}}" ng-click="changeBackground()"></div>
</div>
